pipeline/pipelineforxlfiles.json
{
	"name": "pipelineforxlfiles",
	"properties": {
		"activities": [
			{
				"name": "Gm_toget_xl_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "xlfiles",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.srccontainer",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.xlfolder",
								"type": "Expression"
							},
							"file": "''"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filterforsinglefiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Gm_toget_xl_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Gm_toget_xl_files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, pipeline().parameters.mutlisheetfilename))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "copyeachsinglefile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filterforsinglefiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filterforsinglefiles').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "xlfiles",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.srccontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.xlfolder",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "fromxltocsv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.sinkcontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.xlfolder",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEachsheets",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copyeachsinglefile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.sheetnames",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adformultisheetxl",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.srccontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.xlfolder",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.mutlisheetfilename",
											"type": "Expression"
										},
										"sheetname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "fromxltocsv",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"srccontainer": {
				"type": "string"
			},
			"sinkcontainer": {
				"type": "string"
			},
			"xlfolder": {
				"type": "string"
			},
			"mutlisheetfilename": {
				"type": "string"
			},
			"sheetnames": {
				"type": "array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}