pipeline/pipelineformovingdata.json
{
	"name": "pipelineformovingdata",
	"properties": {
		"activities": [
			{
				"name": "Getfilesfromfolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_singlefiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Getfilesfromfolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfilesfromfolder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, pipeline().parameters.MultiSheetFileName))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FEforcopy4siglefiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_singlefiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_singlefiles').output.value",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "copysinglefile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			},
			{
				"name": "splitmultisheet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FEforcopy4siglefiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.SheetNames",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copysheettofile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"srccontainer": {
				"type": "string"
			},
			"sinkcontainer": {
				"type": "string"
			},
			"srcfolder": {
				"type": "string"
			},
			"multisheetfilename": {
				"type": "string"
			},
			"sheetnames": {
				"type": "array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}