pipeline/pipeline2forxlfiles.json
{
	"name": "pipeline2forxlfiles",
	"properties": {
		"activities": [
			{
				"name": "getallxlfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "srcforlistingfiles",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.srccontainer",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.srcfolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filterallsinglefiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getallxlfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getallxlfiles').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().name, pipeline().parameters.MultiSheetFileName))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filterallsinglefiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filterallsinglefiles').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 1,
					"activities": [
						{
							"name": "copysinglefile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "copyingsinglesfiles",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.srccontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.srcfolder",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "copyingsinglesfiles",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.srccontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.srcfolder",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "split_multi_sheet_into_5_files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.sheetnames",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "copysheettofile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "multisheetsrc",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.srccontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.srcfolder",
											"type": "Expression"
										},
										"file": {
											"value": "@pipeline().parameters.multisheetfilename",
											"type": "Expression"
										},
										"sheetname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "multisheetsink2",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.sinkcontainer",
											"type": "Expression"
										},
										"folder": "xlfiles2",
										"file": {
											"value": "@concat(\n  split(pipeline().parameters.MultiSheetFileName, '.')[0],\n  '_',\n  item(),\n  '.xlsx'\n)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"srccontainer": {
				"type": "string"
			},
			"sinkcontainer": {
				"type": "string"
			},
			"srcfolder": {
				"type": "string"
			},
			"multisheetfilename": {
				"type": "string"
			},
			"sheetnames": {
				"type": "array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}